<launch>
	<arg name = "frequency" default = "10" />
	<node 
		name="talker" 
		type="talker" 
		pkg="beginner_tutorials"
		output="screen"
		args = "$(arg frequency)"
	/>
	
	<node
		name="listener"
		type="listener"
    pkg="beginner_tutorials"
		output="screen"
		launch-prefix = "gnome-terminal -e"
  />
</launch>
